/config/initializers/secret_token.rb
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
database.yml
/config/initializers/devise.rb
google_drive.yml
public/assets
config/initializers/recaptcha.rb
.DS_Store
*.swp
