<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "smartform"}) do |f| %>
  <h2>Sign up</h2>
  
  <p>Registration is currently disabled. Please check back in later.</p>
<% end %>
