<%= render :partial => @articles %>

<div class="link-wrapper">
<span class="left-link">
<%= if @next then link_to 'Older', articles_path(:offset => @next) end %>
</span>
<span class="right-link">
<%= if @prev then link_to 'Newer', articles_path(:offset => @prev) end %>
</span>
&nbsp;
</div>
<%= if editor? then link_to 'New Article', new_article_path end %>
