- if @snippet
  #about
    %h2 About ALLIES
    %article= raw @markdown.render @snippet.body
- if @update
  #update
    %h2= @update.title
    %article= raw @markdown.render @update.body
    .afterthought= link_to "Older updates...", updates_url
