<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "smartform"}) do |f| %>
  <h2>Sign in</h2>
  
  <p>Logging in is currently disabled. Please check back in later.</p>
<% end %>
