/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  background-color: #666;
}

body {
  margin: 0 auto;
  width: 48em;
  background-color: white;
  border: 1px solid black;
  font-family: Helvetica, sans-serif;
}

#banner {
  height: 150px;
  background-repeat: no-repeat;
}

#logo {
  width: 100%;
  height: 95px;
  background-image: url(/images/logo.png);
}

#navbar {
  height: 25px;
  padding-right: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  opacity: .8;
  background-color: white;
  margin-top: 29px;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
  margin: 0;
  padding: 0;
}

#navbar li a {
  padding: 3px 15px;
  text-decoration: none;
  position: absolute;
  color: black;
  float: left;
  height: 19px;
}

#navbar li a:hover {
  background-color: #666;
}

#main-content {
  padding: 20px 20px 10px 20px;
}