/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 */

body {
  position: relative;
  font-family: "Lucida Sans", "Helvetica", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  
  &:visited {
    color: blue;
  }
}

#logo {
  width: 75%;
  text-align: center;
  display: block;
  margin: 1em auto;
}

#side-column {
  float: left;
  width: 25%;
  left: 0;
  box-sizing: border-box;
  
  &:before {
    width: 25%;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: white;
  }
}

#main-column {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 1em;
  
  &:before {
    width: 50%;
    position: absolute;
    left: 25%;
    background-color: white;
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .afterthought {
    margin-top: 1em;
    text-align: right;
  }
  
  article + article {
    margin-top: 1em;
  }
}

#main-column, #admin-content form article {
  line-height: 120%;
  
  p {
    margin-top: 1em;
    
    &+ul, &+ol {
      margin-top: 1em;
    }
  }
  
  li p + ul, li p + ol {
    margin-top: 0;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 16px;
  }
  
  ul, ol {
    margin-left: 2em;
  }
  
  li :first-child {
    margin-top: 0;
  }
}

#main-column article, #admin-content form article {
  &>ul>li + li {
    margin-top: 1em;
  }
}

#last-column {
  float: left;
  width: 25%;
  box-sizing: border-box;
  height: 100%;
  
  &:before {
    width: 25%;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 75%;
    background-color: #e3e9ff;
  }
  
  iframe {
    position: fixed;
  }
}

#notice {
  text-align: left;
  margin-bottom: 20px;
  background-color: #FFF68F;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

#alert {
  text-align: left;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #EE3B3B;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

#topnav {
  text-align: center;
  font-size: 16px;
  
  li {
    display: inline;
    padding: .25em;
    border: 1px solid black;
    font-weight: bold;
    line-height: 2em;
  
    &:nth-child(6n+1) {
      background-color: rgba(229, 171, 114, 1);
    }
    
    &:nth-child(6n+2) {
      background-color: rgba(229, 205, 130, 1);
    }
    
    &:nth-child(6n+3) {
      background-color: rgba(183, 229, 137, 1);
    }
    
    &:nth-child(6n+4) {
      background-color: rgba(117, 229, 158, 1);
    }
    
    &:nth-child(6n+5) {
      background-color: rgba(192, 147, 229, 1);
    }
    
    &:nth-child(6n) {
      background-color: rgba(229, 112, 123, 1);
    }
  }
}

#about, #update {
  margin-top: .5em;
}

#about {
  margin-bottom: 1.5em;
  padding: .5em;
  background-color: #AFEEF9;
  border: 1px solid gray;
  font-size: 12px;
  line-height: 120%;
  
  h2 {
    font-size: 16px;
  }
}

#roomstatus {
  margin: .5em 1em 1em 1em;
  padding: .5em;
  border: 1px solid black;
  
  &.rs-open {
    background-color: rgb(183, 229, 137);
  }
  
  &.rs-closed {
    background-color: #faa;
  }
  
  .updated {
    font-size: 10px;
  }
  
  p {
    margin-top: .5em;
    font-size: 12px;
    margin-bottom: .5em;
  }
  
  h3 {
    font-size: 14px;
  }
}

.smartform {
  display: block;
  margin-top: 1em;
  background-color: #EFECF9;
  border-radius: 8px;
  border: 1px solid #EEE9E9;
  margin: 1em;
  padding: 1em;
  width: 50%;
  
  div {
    margin-top: 1em;
    clear: both;
  }
  
  label {
    display: inline-block;
    text-align: right;
    margin-right: .5em;
    vertical-align: middle;
    width: 40%;
  }
  
  input {
    border: 1px solid #ccc;
    padding: .5em .6em;
    box-shadow: inset 0 1px 3px #ddd;
    
    &:focus {
      border: 2px solid #900;
    }
    
    &[type=submit] {
      margin: 0 auto;
      display: block;
    }
  }
  
  #error_explanation {
    h2 {
      display: none;
    }
  }
  
  .field_with_errors {
    display: inline;
    
    label {
      color: red;
      
      &:before {
        content: "*";
      }
    }
  }
}

hr {
  background-image: image-url("divider.png");
  border: 0;
  width: 50%;
  text-align: center;
}

#socialicons {
  text-align: center;
  
  li {
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 4px;
    
    &.twitter {
      background-color: #55acee;
    }
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
    
    &+li {
      margin-left: .5em;
    }
    
    span {
      position: absolute;
      margin-top: -4em;
      margin-left: 4.75em;
      padding: .25em .5em;
      display: none;
      border: 1px solid black;
      text-align: left;
      background-color: white;
      line-height: 1.5em;
    }
    
    &:hover span {
      display: block;
    }
  }
}

footer {
  margin: 1em;
  color: #999;
  border-top: 1px solid gray;
  padding-top: .5em;
  font-size: 12px;
  line-height: 14px;
}

#admin-panel {
  width: 100%;
  margin: 1em 0;
  display: inline-block;
  
  #admin-tabs {
    margin-left: 7px;
    
    li {
      margin: 0 5px;
      float: left;
      list-style: none;
    }
    
    a {
      padding: 9px 15px;
      display: inline-block;
      border-radius: 3px 3px 0 0;
      background: #7fb5da;
      font-size: 16px;
      color: #4c4c4c;
      
      &:hover {
        background: #a7cce5;
        text-decoration: none;
      }
      
      &.active, &.active:hover {
        background: #EFECF9;
        color: #4c4c4c;
      }
    }
  }
  
  #admin-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #EFECF9;
    display: block;
    clear: both;
    
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      font-size: 12px;
      line-height: 150%;
      background: white;
      overflow: hidden;
      border: 1px solid #991821;
      border-radius: 3px;
      
      td, th {
        padding: 3px 10px;
      }
      
      th {
        background-color: #991821;
        color: white;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid #b01c26;
        
        &:first-child {
          border: none;
        }
      }
      
      td {
        color: #80141c;
        border-left: 1px solid #f7cdcd;
        font-size: 12px;
        font-weight: normal;
        
        &:first-child {
          border-left: none;
        }
      }
      
      tr:last-child {
        border-bottom: none;
      }
      
      .odd td {
        background-color: #f7cdcd;
        color: #80141c;
      }
      
      td:last-child {
        text-align: center;
      }
    }
    
    form {
      input, textarea {
        display: block;
        padding: .5em .6em;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
      }
      
      label {
        display: block;
        margin-bottom: .5em;
        font-weight: bold;
      }
      
      div {
        margin-top: 1em;
      }
      
      input[type=text], input[type=password], input[type=email] {
        width: 50%;
      }
      
      textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        resize: none;
      }
      
      article {
        border: 1px solid #EEE9E9;
        padding: 1em;
        background-color: white;
        margin-top: 1em;
        
        :first-child {
          margin-top: 0;
        }
      }
      
      .field_with_errors {
        display: inline;
    
        label {
          color: red;
      
          &:before {
            content: "*";
          }
        }
      }
    }
  }
}

#update-archive {
  margin-top: 1em;
}

.hiddenDiv {
  min-height: 50px;
  font-family: "Lucida Sans", "Helvetica", sans-serif;
  padding: .5em .6em;
  font-size: 13px;
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#commissions {
  margin-top: 1em;
  
  tr {
    td {
      width: 50%;
      padding: 1em;
      vertical-align: middle;
      
      img {
        max-width: 100%;
      }
    }
  }
}
