// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.

.news_feed {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px;
  
  h3 {
    font-size: 1.17em;
  }
  
  .byline {
    font-size: .75em;
    color: gray;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 0em;
    margin-top: 1em;
  }
}

#courtesy {
  margin-bottom: 1em;
}

#news-headline {
  font-size: 2em;
}