// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resources {
  #toc {
    display: table;
    padding: 7px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    font-size: 95%;
    width: 15em;
    margin-bottom: 1em;
    
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }
    
    ol {
      margin-left: 1.5em;
    }
    
    a {
      text-decoration: none;
    }
  }
  
  h2.res-cat {
    font-size: 1.5em;
    margin-bottom: .25em;
    margin-top: .5em;
  }
  
  .resource {
    margin-bottom: 1em;
    
    h3 {
      a {
        text-decoration: none;
      }
    }
  }
}