<h1>Update room status</h1>

<%= form_for @room_status do |f| %>
	
	<p>
		Open:
		<%= f.radio_button :status, 'true' %>
	</p>

	<p>
		Closed:
		<%= f.radio_button :status, 'false' %>
	</p>

	<p>
		<%= f.submit 'Update' %>
	</p>

<% end %>
